@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    height: 100vh;
    overflow-y: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.alphacoders.com/210/210503.jpg");
}

::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #555;
}